version: "3.6"

services:
    emailqueue:
        image: emailqueue-apache
        container_name: emailqueue-apache
        build:
            context: .
            dockerfile: ./apache/Dockerfile
        ports:
            - 8081:80
        networks:
            - emailqueue
        volumes:
            - ../application.config.inc.php:/emailqueue/config/application.config.inc.php

    emailqueue-mariadb:
        image: mariadb
        container_name: emailqueue-mariadb
        environment:
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
        networks:
            - emailqueue
        volumes:
            - ./mariadb/data:/var/lib/mysql
            - ./mariadb/emailqueue_init.sql:/docker-entrypoint-initdb.d/schema.sql:ro
        environment:
            - MYSQL_DATABASE=emailqueue
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
        command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

volumes:
    emailqueue-db-data: {}

networks:
    emailqueue:
        name: emailqueue